<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDeWokTWkscrERWAvUgOFeeYFzAUaVmq6I</string>
	<key>GCM_SENDER_ID</key>
	<string>252356163099</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.leon.mathquizpro</string>
	<key>PROJECT_ID</key>
	<string>mathe-quiz-pro</string>
	<key>STORAGE_BUCKET</key>
	<string>mathe-quiz-pro.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<true/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:252356163099:ios:c5ec3f928cbea696126abe</string>
</dict>
</plist>
