<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AVInitialRouteSharingPolicy</key>
	<string>LongFormAudio</string>
	<key>NSCameraUsageDescription</key>
	<string></string>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.leon.mathquizpro</string>
	</array>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<false/>
	<key>FirebaseMessagingAutoInitEnabled</key>
	<false/>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>NSBonjourServices</key>
	<array>
		<string>_superapp._tcp</string>
	</array>
	<key>Privacy — Local Network Usage Description</key>
	<string>Erlauben Sie den Zugriff, damit Sie einen Datenaustausch mit anderen in der Klasse machen können</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>processing</string>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
